@keyframes price-anim {
    0% {
        width: 100%;
    }

    100% {
        width: 90%;
    }
}

@keyframes check-menu-anim {
	0% {
		transform: translateX(60px);
	}

	100% {
		transform: translateX(0px);
	}
}
.m-frame > div{
   left:-200vw;
   animation-fill-mode: forwards;
    position: relative;
    animation-duration:1.25s;
    animation-iteration-count: 1s;
    animation-timing-function: linear;
    animation-name:slide-left;
}
.m-frame > div:nth-child(1){
    animation-delay: 0s;  
    }
  .m-frame > div:nth-child(2){
      animation-delay: 0.25s;
    }
  .m-frame > div:nth-child(3){
      animation-delay: 0.5s;
       }
  .m-frame > div:nth-child(4){
       animation-delay: 0.75s;
      }
  .m-frame > div:nth-child(5){
       animation-delay: 1s;
       }
  .m-frame > div:nth-child(6){
      animation-delay: 1.25s;
       }
  .m-frame > div:nth-child(7){
      animation-delay: 1.5s;
      }
  .m-frame > div:nth-child(8){
      animation-delay: 1.75s;
       }
  .m-frame > div:nth-child(9){
       animation-delay: 2s;
      }
   .m-frame > div:nth-child(10){
      animation-delay: 2.25s;
       }
  .m-frame > div:nth-child(11){
      animation-delay: 2.5s;
       }
  .m-frame > div:nth-child(12){
       animation-delay: 2.75s;
     }
     .m-frame > div:nth-child(13){
      animation-delay: 3s;
     }
     .m-frame > div:nth-child(14){
       animation-delay: 3.25s;
     }
   

  @keyframes slide-left{
    0%{
      left:-200vw;
    }
    100%{
      left:0;
    }
  }
 