@keyframes price-anim {
    0% {
        width: 100%;
    }

    100% {
        width: 90%;
    }
}

@keyframes check-menu-anim {
	0% {
		transform: translateX(60px);
	}

	100% {
		transform: translateX(0px);
	}
}
.m-cards:nth-child(even){
    position: relative;
    animation-name: slide-left;
    animation-duration:2.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  .m-cards:nth-child(odd){
    position: relative;
    animation-name: slide-right;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  
  @keyframes slide-left{
    0%{
      left:-200vh;
    }
    50%{
      left:-200vh;
    }
    100%{
      left:0;
    }
  }
  @keyframes slide-right{
    0%{
      right:-200vh;
    }
    50%{
      right:-200vh;
    }
    100%{
      right:0;
    }
  }