#menu {
    .header {
        height: 96px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .fa-arrow-left {
            width: 30px;
            height: 30px;
            position: absolute;
            margin-left: -40%;
        }

        img {
            width: 200px;
            height: 34.2px;
        }
    }

    .p-menu {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 383px;
        max-height: 384px;

        &.first {
            background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        }

        &.second {
            background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        }

        &.third {
            background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        }

        &.fourth {
            background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        }
    }
    .c-menu {
        width: 80%;
        display: flex;
        flex-direction: column;
        background-color: #f6f6f6;
        border-radius: 40px 40px 0px 0px;
        margin-top: -55px;
        padding: 33px 13px 40px 13px;
        position: relative;
        margin-left: auto;
        margin-right: auto;

        .header {
            display: flex;
            justify-content: center;
            gap: 15px;
            h2 {
                text-align: center;
                font-family: Shrikhand;
                font-weight: 400;
                font-size: 28px;
            }

            .card__like.menu__like--bg {
                background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-background-clip: text;
                -moz-text-fill-color: transparent;
            }
    
            .card__btn.menu__btn {
                input {
                    display: none;
    
                    &+label {
                        display: inline-block;
                        width: 22px;
                        height: 21px;
                        background-image: url(../images/Icon/dislike.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        cursor: pointer;
                    }
    
                    &:checked+label {
                        background-image: url(../images/Icon/liked.png);
                    }
                }
            }
        }

        .m-frame {
            width: 70%;
            margin: 0 auto;


            .card-t {
                font-size: 16px;
                display: grid;
                margin-bottom: 12px;
                margin-top: 40px;

                &::after {
                    content: " ";
                    border: 2px solid rgba(153, 226, 208, 1);
                    width: 40px;
                    margin-top: 10px;

                }


            }
        }
    }

    /*.animation1 {
        animation-delay: 0s;
    }

    .animation2 {
        animation-delay: 1s;
    }*/



    .m-cards {
        background-color: white;
        border-radius: 15.4px;
        box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 10.5px;

        .card {
            position: relative;
            padding: 15px 25px;
            cursor: pointer;
            overflow: hidden;

            .c-t {
                margin-top: 0;
                font-size: 18px;
            }

            .c-s {
                font-size: 15px;

                &.c-price {
                    font-weight: 700;
                }

            }

            .c-price {
                font-weight: 700;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                margin-top: -30px;
            }

            .c_check {
                height: 100%;
                width: 59px;
                background: rgb(153, 226, 208);
                position: absolute;
                right: 0;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 15.4px 15.4px 0;
                transform: translate(60px);
            }

            .c_check:hover {
                margin-right: 0;
                animation: selectmenu 0.5s ease;
            }

            .c_anim {
                height: 25px;
                width: 25px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                transform: rotate(180deg);
                transition-duration: .5s;
            }

            .fa-check {
                color: #99e2d0;
                justify-content: flex-end;


            }

            &:hover {
                .sub {
                    width: 90%;
                    animation: price-anim 1s ease 0s 1 normal forwards;
                }
                .c_check{
                    transform: translate(0px);
                    animation: check-menu-anim 1s ease 0s 1 normal forwards;
                }
            
            }


            .sub {
                justify-content: space-between;
            }


        }
    }

    .btn {
        width: 186px;
        height: 50px;
        margin: auto;
        margin-top: 40px;
    }

    .c-btnrounded {
        width: 186px;
        height: 50px;
        background: linear-gradient(#FF79DA, #9356DC);
        box-shadow: 0px 4px 10px 0px #00000040;
        color: #FFFFFF;
        border-radius: 25px;
        border-style: none;
        margin: 0 auto;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }


    // Small devices (landscape phones, 576px and up)
    @media (max-width: 576px) {

        .header .fa-arrow-left {
            width: 30px;
            height: 30px;
            position: absolute;
            margin-left: -15%;
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (max-width: 768px) {
        .header {
            box-shadow: none;
            gap: 7%;

            .fa-arrow-left {
                width: 30px;
                height: 30px;
                position: absolute;
                margin-left: -30%;
            }
        }

        .c-menu {
            width: 100%;
            padding: 10px 0 30px 0;

            .m-frame {
                width: 95%;
            }
        }
    }

    // Large devices (desktops, 992px and up)
    @media (max-width: 992px) {}

    // X-Large devices (large desktops, 1200px and up)
    @media (max-width: 1200px) {}

    // XX-Large devices (larger desktops, 1400px and up)
    @media (max-width: 1400px) {}
}