/* Global variables */
html,
body {
  max-height: 100vh;
  max-width: 100vw;
  margin: 0 !important;
  overflow-x: hidden;
}

* {
  font-family: Roboto;
  color: inherit;
  text-decoration: none;
}

.loader {
  background-color: #f6f6f6;
  place-items: center;
  display: grid;
  position: fixed;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: loader 3s both;
  /*animation: disappear 3s;*/
}
@keyframes loader {
  100% {
    display: none;
    visibility: hidden;
  }
}
.loader .loader-container i {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 0 15px;
  position: relative;
  animation: circles 1.2s ease-in-out infinite;
  border-radius: 100%;
}
.loader .loader-container i .loader-container i:nth-child(1) {
  background-color: #9356DC;
  animation-delay: 0s;
  position: relative;
}
.loader .loader-container i .loader-container i:nth-child(2) {
  background-color: #FF79DA;
  animation-delay: 0.2s;
  position: relative;
}
.loader .loader-container i .loader-container i:nth-child(3) {
  background-color: #99E2D0;
  animation-delay: 0.4s;
  position: relative;
}
@keyframes circles {
  0% {
    height: 20px;
  }
  50% {
    height: 60px;
  }
  100% {
    height: 20px;
  }
}

#home .header {
  height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .header img {
  width: 200px;
  height: 34.2px;
}
#home .location {
  width: 100%;
  height: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}
#home .location > i {
  margin-right: 17px;
}
#home .Hero {
  width: 100%;
  height: 200px;
  background-color: #f6f6f6;
  text-align: center;
  padding: 30px 0;
  display: grid;
  justify-content: center;
  align-items: center;
}
#home .title {
  font-size: 2em;
  padding: 0 !important;
  margin: 0 !important;
}
#home .substitle {
  font-size: 1em;
}
#home .R-buttonrounded {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-style: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  color: #FFFFFF;
  margin: 0 auto;
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
#home .R-buttonrounded:hover {
  transform: scale(1.1);
  background: linear-gradient(200.64deg, #FF79DA 110.74%, #9356DC -5.2%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}
#home .fontionnement-container {
  margin-left: auto;
  padding: 0 10%;
  margin-bottom: 50px;
  margin-right: auto;
}
#home h2.fontionnement {
  font-size: 24px !important;
  width: 275px;
  height: 31px;
}
#home .fontionnement-container .buttons {
  display: flex;
  /*justify-content: space-between;*/
  width: 100%;
  justify-content: center;
  gap: 30px;
}
#home .fontionnement-container .buttons a[class^=button-] {
  text-decoration: none;
  position: relative;
  width: 28%;
  height: 72.38px;
  border-radius: 20px;
  background: rgb(246, 246, 246);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  color: black;
  /* padding-right: 38px;*/
  padding-right: 28px;
}
#home .fontionnement-container .buttons a[class^=button-] i:nth-child(2) {
  margin: 0 23px;
}
#home .notif {
  width: 20px;
  height: 20px;
  background: rgb(147, 86, 220);
  border-radius: 50%;
  color: white;
  text-align: center;
  left: 0;
  margin-left: -10px;
}
#home section.restaurants {
  background: rgb(246, 246, 246);
  padding: 30px 15%;
}
#home .cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
#home .cards .card {
  position: relative;
  width: 460px;
  height: 100%;
  max-height: 291px;
  border-radius: 15px;
  display: grid;
  text-decoration: none;
  color: black;
}
#home .card img {
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
#home .card .card__badge {
  width: 80px;
  height: 29px;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: rgb(0, 135, 102);
  background: rgb(153, 226, 208);
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .card h4 {
  margin: 0;
}
#home .card .card__content {
  font-weight: 300;
}
#home .card .card__footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 18px;
  border-radius: 0 0 15px 15px;
}
#home .card .card__footer .card__title {
  font-size: 18px;
}
#home .card .card__footer .card__subtitle {
  font-size: 17px;
}
#home .card .card__like.menu__like--bg {
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
#home .card .card__btn.menu__btn input {
  display: none;
}
#home .card .card__btn.menu__btn input + label {
  display: inline-block;
  width: 22px;
  height: 21px;
  background-image: url(../images/Icon/dislike.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
#home .card .card__btn.menu__btn input:checked + label {
  background-image: url(../images/Icon/liked.png);
}
@media only screen and (max-width: 600px) {
  #home .title {
    font-size: 1.5em;
  }
  #home .Hero {
    width: unset;
    padding: 30px 5px;
  }
  #home .header,
  #home .location {
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  #home .header {
    z-index: 1;
  }
  #home .fontionnement-container .buttons {
    flex-direction: column;
    width: 335px;
    margin-left: -27px;
  }
  #home .fontionnement-container .buttons .button-1 {
    width: 335px;
    height: 72px;
    margin-bottom: 25px;
  }
  #home .fontionnement-container .buttons .button-2 {
    height: 72px;
    margin-bottom: 25px;
  }
  #home .fontionnement-container .buttons .button-3 {
    height: 72px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  #home .fontionnement-container .buttons {
    display: grid;
    gap: 13px;
    justify-content: center;
  }
  #home .fontionnement-container .buttons a[class^=button-] {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  #home section.restaurants {
    background: rgb(246, 246, 246);
    padding: 30px 15px;
  }
  #home section.restaurants .cards {
    display: block;
    width: 100%;
    justify-content: center;
    margin-bottom: 0px;
  }
  #home section.restaurants .cards .card {
    margin-bottom: 50px;
    width: 100%;
  }
}

#menu .header {
  height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#menu .header .fa-arrow-left {
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: -35%;
}
#menu .header img {
  width: 200px;
  height: 34.2px;
}
#menu .p-menu {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 383px;
  max-height: 384px;
}
#menu .p-menu.first {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
#menu .p-menu.second {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
#menu .p-menu.third {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
#menu .p-menu.fourth {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
#menu .c-menu {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -55px;
  padding: 33px 13px 40px 13px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#menu .c-menu .header {
  display: flex;
  justify-content: center;
  gap: 15px;
}
#menu .c-menu .header h2 {
  text-align: center;
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 28px;
}
#menu .c-menu .header .card__like.menu__like--bg {
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
#menu .c-menu .header .card__btn.menu__btn input {
  display: none;
}
#menu .c-menu .header .card__btn.menu__btn input + label {
  display: inline-block;
  width: 22px;
  height: 21px;
  background-image: url(../images/Icon/dislike.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
#menu .c-menu .header .card__btn.menu__btn input:checked + label {
  background-image: url(../images/Icon/liked.png);
}
#menu .c-menu .m-frame {
  width: 70%;
  margin: 0 auto;
}
#menu .c-menu .m-frame .card-t {
  font-size: 16px;
  display: grid;
  margin-bottom: 12px;
  margin-top: 40px;
}
#menu .c-menu .m-frame .card-t::after {
  content: " ";
  border: 2px solid rgb(153, 226, 208);
  width: 40px;
  margin-top: 10px;
}
#menu .m-cards {
  background-color: white;
  border-radius: 15.4px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 10.5px;
}
#menu .m-cards .card {
  position: relative;
  padding: 15px 25px;
  cursor: pointer;
  overflow: hidden;
}
#menu .m-cards .card .c-t {
  margin-top: 0;
  font-size: 18px;
}
#menu .m-cards .card .c-s {
  font-size: 15px;
}
#menu .m-cards .card .c-s.c-price {
  font-weight: 700;
}
#menu .m-cards .card .c-price {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: -30px;
}
#menu .m-cards .card .c_check {
  height: 100%;
  width: 59px;
  background: rgb(153, 226, 208);
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15.4px 15.4px 0;
  transform: translate(60px);
}
#menu .m-cards .card .c_check:hover {
  margin-right: 0;
  animation: selectmenu 0.5s ease;
}
#menu .m-cards .card .c_anim {
  height: 25px;
  width: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
#menu .m-cards .card .fa-check {
  color: #99e2d0;
  justify-content: flex-end;
}
#menu .m-cards .card:hover .sub {
  width: 90%;
  animation: price-anim 1s ease 0s 1 normal forwards;
}
#menu .m-cards .card:hover .c_check {
  transform: translate(0px);
  animation: check-menu-anim 1s ease 0s 1 normal forwards;
}
#menu .m-cards .card .sub {
  justify-content: space-between;
}
#menu .btn {
  width: 186px;
  height: 50px;
  margin: auto;
  margin-top: 40px;
}
#menu .c-btnrounded {
  width: 186px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  color: #FFFFFF;
  border-radius: 25px;
  border-style: none;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
}
#menu .c-btnrounded:hover {
  transform: scale(1.1);
}
@media (max-width: 576px) {
  #menu .header .fa-arrow-left {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: -15%;
  }
}
@media (max-width: 768px) {
  #menu .header {
    box-shadow: none;
    gap: 7%;
  }
  #menu .c-menu {
    width: 100%;
    padding: 10px 0 30px 0;
  }
  #menu .c-menu .m-frame {
    width: 95%;
  }
}
@keyframes price-anim {
  0% {
    width: 100%;
  }
  100% {
    width: 90%;
  }
}
@keyframes check-menu-anim {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0px);
  }
}
footer {
  display: grid;
  width: 100%;
  min-height: 114px;
  background-color: #353535;
  color: #FFFFFF;
}
footer .footer {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 35px;
}
footer .footer .links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}
footer .footer .f-logo {
  margin-left: 15px;
  margin-right: -5%;
  font-style: italic;
  font-size: 18px;
  font-family: shrikhand;
}
footer .footer a {
  display: flex;
  gap: 10px;
}
@media (max-width: 576px) {
  footer {
    padding: 20px 10px;
  }
  footer .footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 15px;
  }
  footer .footer .links {
    display: grid;
    justify-content: start;
    gap: 5px;
  }
  footer .f-logo {
    margin-left: 0px !important;
  }
}

.d-flex {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
